
form {
    display: grid;
    align-items: center;
    justify-content: center;

    .create-title {
        border-radius: 10px;
        text-align: center;
        align-items: center;
        background-color: $teal;
        margin-bottom: 10px;
    }

    .title {
        width: 600px;
    }
    .summary {
        width: 600px;
        height: 100px;
    }
    
    .file {
        width: 600px;
    }
    
    button {
        margin-top: 5px;
    }
    .quill {
        background-color: white;
    }
}