body {
  color: #333;
}

img {
  max-width: 100%;
}

main{
  padding: 10px;
  max-width: 600px;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;

}

header a{
  text-decoration: none;
  color: inherit;
  /* todo change the font style and color */
}

header img {
  max-width: auto;
  max-height: 100px;
}

/* header a.logo {
  background-image: url(./images/logo.png);

} */

header nav {
  display: flex;
  gap: 15px;
  align-items: center
}

div.post {
  display: grid;
  grid-template-rows: 0fr 0fr;
  gap: 5px;
  margin-top: 30px;
}

div.post img {
  max-width: 100%;
}